# API keys for metadata enrichment pipeline
# Get Discogs token: https://www.discogs.com/settings/developers
DISCOGS_TOKEN=
# Get Last.fm API key: https://www.last.fm/api/account/create
LASTFM_API_KEY=
